body{
    background-color: #171c30;
}
.main{
    margin: 50px 110px;
    background-color: #262d47;
    height: 570px;
    position: relative;
}

.header{
    background-color:#F08080
}

#header-img{
    margin: 3px 5px;
}
.addProductContainer{
    padding: 15px 50px;
    background-color: #f1f1f1;
    display: inline-block;
    position: relative;
    vertical-align: center;
    text-align: center;
    width: 300px;
    height: 300px;
    margin-left: 50px;
}

.addProductLine{
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -11px #8c8b8b inset;
}

.CreateContractContainer{
    padding: 15px 50px;
    background-color: #D2B48C;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    vertical-align: center;
    text-align: center;
}

.userDetails{
    background-color: lightgray;
    width: 260px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 5px 5px !important;
    float: right;
}

.balance{
    position: fixed ;
    margin-top: 15px !important;
    right: 20px;
    top: 10px;
}

#title{
    width: 100px;
    border-bottom: 2px solid black;
}

.productList{
    width: 300px !important;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}